{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": "commonjs",
        "targets": {
          "electron": "1.8",
          "node": "current"
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-decorators-legacy",
      "module-resolver",
      { "root": ["src"] }
    ]
  ]
}
